<html lang="en">
<head>
    <title>Home </title>
</head>
<body>
    <h2>Home contact Form details</h2>
    <form id="contact-form" method="POST" action="/">
<label for="name">Run</label>
<input type="submit" value="run exe">
    </form>
</body>
</html>